#sidebar-wrapper {
	background-color:#212121;
}

#study-wrapper, #set-wrapper{
	position:absolute;
	font-size:14px;
	left: 140px;
	width:350px;
	padding:20px;
	height: 100vh;
	z-index:200;
	background: #f2f2f2;
	display: inline-block;
	float: left;
	
	overflow-y: scroll;
	overflow-x: hidden;
	border-right: 1px solid #ACADAD;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#study-wrapper.toggled, #set-wrapper.toggled {
    position: absolute;
    left: -400px;
}

#output-wrapper {
    height:100vh;
    overflow-y:scroll;
	padding-left: 160px;
	padding-right: 20px;
}

.loader {
	height: 25px;
    margin: 0 auto 0 auto;
}

#heading-ric {
	margin-top:10px;
}

#add-new-ric, #add-new-param, #set-add-new-ric, #set-add-new-param{
	margin: 10px auto 0px auto;
	display:block;
}

form p {
	margin-top: 10px;
	margin-bottom: 5px;
}	

.ric-input, .param-input
 {
	width: 88%;
	display:inline-block;
}

.ric-delete, .param-delete
{
	margin-left: 5px;
	width: 10%;
	display:inline-block;
}

#ric-loader {
	display:inline-block;
}

/*.param-window {
	width: 50%;
	display:inline-block;
    float: left;
}*/

.param-input, .RIC-input {
	width: 50%;
	display:inline-block;
}

/* File input css */
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 3 */

.inputfile-1 + label {
    color: #fff;
    background-color: #337ab7;
    border-radius:4px;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #286090;
}


.inputfile-3 + label {
    color: #337ab7;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #000099;
}